<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>CadastroContainer</title>
</head>
<body>
    <h1>Cadastrar Container</h1>
    <form method="post">
        Cliente: <input type="text" value="" name="client"/>
        Número Container: <input type="text" value="" name="numberCntr"/>
        Tipo: <input type="text" value="" name="type"/>
        Status: <input type="text" value="" name="status"/>
        Categoria: <input type="text" value="" name="category"/>
        <button type="submit">Salvar</button>
    </form>


</body>
</html>